{% load static %}
<style>
    @media only screen and (max-width: 600px) {
        .nav-1 {
            display: none;
            color: black;
        }
        .collapse-center {
            min-width: 100%;
            top: 300px;
        }
        .collapse-search {
            min-width: 100%;
            right: 0;
        }
    }
    .navbar-top1 {
        background-color: #9a0000;
    }
    .nav-link {
        color: #dbcece;
    }
    i.nav-icon.fas.fa-bars {
        color: #dbcece;
    }
    .nav-link:hover,
    i.nav-icon.fas.fa-bars:hover {
        color: black;
    }
    .dropdown-menu {
        top: 130%;
        background-color: #9a0000;
        color: white;
        border-radius: 3px;
        border: 1px solid black;
    }
    a.dropdown-item {
        color: white;
    }
    a.dropdown-item:hover {
        background-color: black;
        color: red;
    }
</style>
{% include "nav_toggler_items.html" %}
<!-- Navbar -->
<nav class="navbar-top1 navbar nowrap">
    <!-- Container wrapper -->
    <div class="container-fluid justify-content-between">
        <!-- Navbar brand -->
        <div class="nav-elem-1">
            <ul class="nav">
                <li class="nav-item">
                    <a class="navbar-brand" href="#"><img src="{% static 'img/LOGO150x40.png' %}" /></a>
                </li>
                <button
                    class="navbar-toggler p-0 m-0"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#navbarLeftAlignExample"
                    aria-controls="navbarLeftAlignExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="nav-icon fas fa-bars"></i>
                </button>
            </ul>
        </div>
        <div class="nav-elem-2">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-door-open"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-clone"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-mail-bulk"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-comments"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-photo-video"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-laptop-house"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-network-wired"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active nav-1" href="#">
                        <i class="nav-icon fas fa-lock"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="nav-elem-3">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link active dropdown-toggle hidden-arrow"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <span class="show-menu-1" style="margin-right: 10px">
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="badge rounded-pill badge-notification bg-danger">1</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Nowe produkty</a></li>
                        <li><a class="dropdown-item" href="#">Lista produktów</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Koszyk</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                        <i class="poland flag"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="#"><i class="poland flag"></i>Polski <i class="fa fa-check text-success ms-2"></i></a>
                        </li>
                        <li><hr class="dropdown-divider" /></li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="united kingdom flag"></i>English</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="china flag"></i>中文</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="japan flag"></i>日本語</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="germany flag"></i>Deutsch</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="france flag"></i>Français</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="spain flag"></i>Español</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="russia flag"></i>Русский</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i class="portugal flag"></i>Português</a>
                        </li>
                    </ul>
                </li>
                <!-- Avatar -->
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle d-flex align-items-center"
                        href="#"
                        id="navbarDropdownMenuLink"
                        role="button"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="22" alt="" loading="lazy" />
                        <span class="d-none d-sm-block ms-1">John</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Mój profil</a></li>
                        <li><a class="dropdown-item" href="#">Ustawienia</a></li>
                        <li><a class="dropdown-item" href="#">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Toggle button -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
