<style>
    .form-outline > input.form-control {
        background-color: white;
        color: black;
    }
    .tab-content {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        color: black;
    }
    .tab-panel {
        padding: 10px;
    }
    .text-center {
        font-size: 12px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="tab-content">
            <div class="tab-panel fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form>
                    <div class="text-center mb-3">
                        <p>Zaloguj się przez:</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-github"></i>
                        </button>
                    </div>

                    <p class="text-center">lub:</p>

                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerName" class="form-control" />
                        <label class="form-label" for="registerName">Imię</label>
                    </div>

                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" />
                        <label class="form-label" for="registerUsername">Nazwisko</label>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" />
                        <label class="form-label" for="registerEmail">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Hasło</label>
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control" />
                        <label class="form-label" for="registerRepeatPassword">Powtórz hasło</label>
                    </div>

                    <!-- Date input -->
                    <div class="form-outline mb-4 datepicker">
                        <input type="date" class="form-control" id="exampleDatepicker1" />
                        <label for="exampleDatepicker1" min="1914-05-11" max="2003-03-23" class="form-label"></label>
                    </div>

                    <!-- Date input -->
                    <div class="form-outline mb-4 active">
                        <input type="file" class="form-control" id="customFile" />
                        <label class="form-label" for="customFile"></label>
                    </div>

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked aria-describedby="registerCheckHelpText" />
                        <label class="text-center form-check-label" for="registerCheck"> Przeczytaj i potwierdź regulamin </label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-3">Zarejestruj się</button>
                </form>
            </div>
        </div>
    </div>
</div>
