{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'mdb/css/mdb.min.css' %}" />
        <body>
            <style>
                .tab-text {
                    background-color: rgba(79, 79, 79, 0.5);
                    font-size: 12px;
                }
                .btn-info span {
                    font-size: 11px;
                }
                @media only screen and (max-width: 700px) {
                    .tab-text {
                        font-size: 8px;
                    }
                    .btn-info span {
                        font-size: 6px;
                    }
                }
            </style>
            <div class="d-flex p-2">
                <div class="flex-column w-100">
                    <button type="button" class="btn btn-info" style="background-color: #26a69a; width: 100%">Personal Data</button>
                    <div class="tab-text d-flex flex-wrap w-100">
                        <div class="p-1">Name: Radosław</div>
                        <div class="p-1">Surname: Krzyżagórski</div>
                        <div class="p-1">Phone: 503-325-672</div>
                        <div class="p-1">Email: krzyzak21@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row m-2" style="background-color: rgba(79, 79, 79, 0.5)">
                <div class="d-width p-1" style="max-width: 50%">
                    <a href="{% static 'cv/RK_2021_03_PL.pdf' %}" download>
                        <button class="btn btn-info w-100" style="background-color: #26a69a">
                            <span>DOWNLOAD CV PL</span>
                        </button>
                    </a>
                </div>
                <div class="d-width p-1" style="max-width: 50%">
                    <a href="{% static 'cv/RK_2021_03_ENG.pdf' %}" download>
                        <button class="btn btn-info w-100" style="background-color: #26a69a">
                            <span>DOWNLOAD CV ENG</span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header p-2" id="headingOne">
                        <button
                            class="accordion-button btn btn-info"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne"
                            style="background-color: #26a69a"
                        >
                            Programs
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-mdb-parent="#accordionExample">
                        <div class="accordion-body p-2" style="padding: 0">
                            <div class="tab-text p-0">
                                <div class="col-12">
                                    <div class="col-12 h-100 pb-1">
                                        <img class="w-100" src="https://img.shields.io/badge/Python-14354C?style=for-the-badge&logo=python&logoColor=white" />
                                    </div>
                                    <div class="col-12 h-100 pb-1">
                                        <img class="w-100" src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #e34f26">
                                        <img class="align-items-center" src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #1572b6">
                                        <img class="align-items-center" src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #00000f">
                                        <img class="align-items-center" src="https://img.shields.io/badge/MYSQL-00000F?style=for-the-badge&logo=mysql&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #316192">
                                        <img
                                            class="align-items-center"
                                            src="https://img.shields.io/badge/POSTGRESQL-316192?style=for-the-badge&logo=postgresql&logoColor=white"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #4ea94b">
                                        <img class="align-items-center" src="https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #e41b1b">
                                        <img class="align-items-center" src="https://img.shields.io/badge/NGINX-e41b1b?style=for-the-badge&logo=nginx&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #0078d4">
                                        <img
                                            class="align-items-center"
                                            src="https://img.shields.io/badge/VS Code-0078D4?style=for-the-badge&logo=visual%20studio%20code&logoColor=white"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #563d7c">
                                        <img
                                            class="align-items-center"
                                            src="https://img.shields.io/badge/Bootstrap-563D7C?style=for-the-badge&logo=bootstrap&logoColor=white"
                                        />
                                    </div>
                                </div>
                                <div class="p-1">Want learn:</div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #f7df1e">
                                        <img
                                            class="align-items-center"
                                            src="https://img.shields.io/badge/JavaScript-F7DF1E?style=for-the-badge&logo=visual%20studio%20code&logoColor=black"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #2ca5e0">
                                        <img class="align-items-center" src="https://img.shields.io/badge/Docker-2CA5E0?style=for-the-badge&logo=docker&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #cc6699">
                                        <img class="align-items-center" src="https://img.shields.io/badge/Sass-CC6699?style=for-the-badge&logo=sass&logoColor=white" />
                                    </div>
                                </div>
                                <div class="col-12 pb-1">
                                    <div class="w-100 d-flex justify-content-center align-items-center" style="background-color: #eeb63a">
                                        <img class="align-items-center" src="https://img.shields.io/badge/Less-eeb63a?style=for-the-badge&logo=less&logoColor=white" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header p-2" id="headingTwo">
                        <button
                            class="accordion-button collapsed btn btn-info"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseTwo"
                            aria-expanded="false"
                            aria-controls="collapseTwo"
                            style="background-color: #26a69a"
                        >
                            languages
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-mdb-parent="#accordionExample">
                        <div class="accordion-body p-2" style="padding: 0">
                            <div class="tab-text p-0 center">
                                <div class="d-flex flex-wrap justify-content-center">
                                    <img class="w-50" src="https://img.shields.io/badge/english-4%2F5-green?style=for-the-badge" />
                                    <img class="w-50" src="https://img.shields.io/badge/polish-5%2F5-green?style=for-the-badge" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header p-2" id="headingThree">
                        <button
                            class="accordion-button collapsed btn btn-info"
                            type="button"
                            data-mdb-toggle="collapse"
                            data-mdb-target="#collapseThree"
                            aria-expanded="false"
                            aria-controls="collapseThree"
                            style="background-color: #26a69a"
                        >
                            Interests
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-mdb-parent="#accordionExample">
                        <div class="accordion-body p-2" style="padding: 0">
                            <div class="tab-text p-0 center">
                                <div class="d-flex flex-wrap">
                                    <ol>
                                        <li>
                                            <div class="p-1">Sports: Football, Darts, Billiards, Bowling, Running, Cars, Triathlon, Mtb, Road-bike, Travel</div>
                                        </li>
                                        <li>
                                            <div class="p-1">Hobby: Cinema, Movies, 1980s music, classic music</div>
                                        </li>
                                        <li>
                                            <div class="p-1">Books: detective, fantasy, thrillers</div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </head>
</html>
